<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Learn About Wetlands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-icon class="back" name="arrow-back" routerLink="/user-dashboard"></ion-icon>

  <ion-card>
    <ion-card-header>
      <ion-card-title> What are wetlands</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Wetlands are areas where water covers the soil, or is present either at ore near the surface ot the soil all year
      or for varying period of time during the year. The provide habitats for many species, act as filters for pollutants,
       nad help mitigate floods. 
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title> Types of Wetlands</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Marshes</li>
        <li>Swamps</li>
        <li>Bogs</li>
        <li>Fens</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Importance of Wetlands</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Wetlands are crucial for biodiversity, water purification, and climate change mitigation. They also provide recreational and tourism opportunities 
    </ion-card-content>
  </ion-card>

</ion-content>
