<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Wetlands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-icon  class="back" name="arrow-back" routerLink="/user-dashboard"></ion-icon>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Wetlands Name: Khubelu</ion-card-title>
        <ion-card-subtitle>Type: Marsh, Bog, Swarmp, Fen</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>District Name: Makhotlong</p>
        <p>Wetland Size: 1Osq</p>
        <p>Location Cordinates: -2977 | 2976</p>
        <p>Conservation Status: Public, Protected</p>
        <ion-button fill="outline" color="custom">View on Map</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
  
</ion-content>
