// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --ion-color-custom: #227f43;
    --ion-color-custom-rgb: 44,84,52;
    --ion-color-custom-contrast: #ffffff;
    --ion-color-custom-contrast-rgb: 255,255,255;
    --ion-color-custom-shade: #274a2e;
    --ion-color-custom-tint: #416548;
    
    //Button color
    --ion-color-btn: #227f43;

}
.ion-color-custom {
    --ion-color-base: var(--ion-color-custom);
    --ion-color-base-rgb: var(--ion-color-custom-rgb);
    --ion-color-contrast: var(--ion-color-custom-contrast);
    --ion-color-contrast-rgb: var(--ion-color-custom-contrast-rgb);
    --ion-color-shade: var(--ion-color-custom-shade);
    --ion-color-tint: var(--ion-color-custom-tint);
  }