ion-content {
    --background: #ebebeb;
}
ion-input {
    color: #333;
}
ion-title {
    color:#333;
}
.primaryColor {
    --background: var(--ion-color-btn);
    color: white;
  }
p{
    color: #333;
}
a {
    color: #227f43;
}

.login {
    color:#333;
    margin-top: 20px;
}
.top-margin {
    margin-top: 8px;
}