<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">User Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-icon  class="back" name="arrow-back" routerLink="/user-dashboard"></ion-icon>
  <ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="end"
  class="ion-center-sm-down"
 >
  <ion-fab-button id="open-feedback-modal">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
 </ion-fab>

 <ion-modal
[keepContentsMounted]="true"
trigger="open-feedback-modal"
#modal
>
<ng-template>
  <ion-header>
    <ion-toolbar>
      <ion-title>Feedback Form</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="outline" color="custom" (click)="modal.dismiss()">Cancel</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form>
      <ion-input
        label=" Name"
        name="name"
        label-placement="floating"
        fill="outline"
        style="color: #333;"
        placeholder=" Enter Name"
      ></ion-input>
      <br />
      <ion-input
        label="Email (optional)"
        name="emal"
        label-placement="floating"
        fill="outline"
        style="color: #333;"
        placeholder="Enter Email"
      ></ion-input>
      <br />
      <ion-select
        label="FeedBack  type"
        name="feedBackType"
        label-placement="floating"
        fill="outline"
        style="color: #333;"
      >
        <ion-select-option value="suggestion">Suggestion</ion-select-option>
        <ion-select-option value="issue"
          >Issue</ion-select-option
        > </ion-select
      ><br />
      <ion-textarea
        label="Message"
        name="message"
        label-placement="floating"
        fill="outline"
        placeholder="Your message goes here..."
        style="color: #333;"
      ></ion-textarea>
      <br />
  
      <ion-button class="mycolor" type="submit" expand="block"
        >Submit</ion-button
      >
    </form>
  </ion-content>
</ng-template>
</ion-modal>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Username</ion-card-title>
        <ion-card-subtitle>User email</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Feedback Type: Suggestion</p>
        <p>Message: ............................................ </p>
        <ion-item lines="none">
          <ion-button fill="outline" color="custom" (click)="editFeedBack(modal)">Edit</ion-button>
          <ion-icon fill="outline" slot="end" name="trash" color="danger"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
