ion-content {
    --background: #ebebeb;
}
ion-toolbar {
  --background: #ebebeb;
  --border-width: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    color: #333;
  }
  ion-icon {
    color: #ffffff;
  }
  ion-fab-button {
    --background: #227f43;
    color: #ffffff;
  }
  
  ion-card{
    --background: #f7f7f7;
    border-radius: 8px;
    border: 1px solid #227f43;
  }
  ion-card ion-item{
    --background: #f7f7f7;
  }
  ion-modal {
    --background: transparent;
  }
  
  ion-modal ion-header ion-toolbar ion-img {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  
  ion-modal ion-item ion-label {
    color: black;
  }
  
  ion-modal ion-header ion-toolbar {
    --background: #ebebeb;
  }
  
  ion-modal ion-content {
    --background: #ebebeb;
  }
  
  ion-modal ion-content form {
    padding: 20px;
  }
  
  ion-modal ion-content ion-item {
    margin-bottom: 15px;
  }
  
  ion-modal ion-content ion-button {
    margin-top: 10px;
    --background: #227f43;
    --color: #f0f0f0;
  }
  
  .back {
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    background-color: #227f43;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
  }

.top-margin {
  margin-top: 10px;
}