ion-content {
    --background: #ebebeb;
}
ion-input {
    color: #333;
}
ion-title {
    color:#333;
}
h5 {
    color: #227f43;
}
a {
    color: #227f43;
}
p{
    color: #333;
}

.register {
    color:#333;
    margin-top: 20px;
}

.top-margin {
    margin-top: 8px;
}