<ion-content [fullscreen]="true" class="ion-padding">
  <ion-title class="ion-text-center">Lesotho Wetlands</ion-title>
  <h5 routerLink="/register-user">Register user</h5>
  <h5 class="register">Admin Registration</h5>

  <form [formGroup]="registerForm" class="ion-padding-top">
    <ion-input
      class="ion-text-center"
      fill="outline"
      type="text"
      class="top-margin"
      placeholder="Enter First Name"
      formControlName="name"
    ></ion-input>
    <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
      <span class="error-message" *ngIf="registerForm.get('name')?.errors?.['required']">First name is required.</span>
    </div>
    <ion-input
      class="ion-text-center"
      fill="outline"
      type="email"
      class="top-margin"
      placeholder="Enter Email"
      formControlName="email"
    ></ion-input>
    
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      <span class="error-message" *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</span>
      <span class="error-message" *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</span>
    </div>
    
    <ion-input
      class="ion-text-center"
      type="tel"
      fill="outline"
      class="top-margin"
      placeholder="Phone Number"
      formControlName="phoneNumber"
    ></ion-input>
    
    <div *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched">
      <span class="error-message" *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">Phone Number is required.</span>
      <span class="error-message" *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']">Invalid phone number format. Phone number should start with 6 or 5 and have a minimum of 8 digits.</span>
    </div>
    <ion-input
      class="ion-text-center"
      type="password"
      fill="outline"
      class="top-margin"
      placeholder="Enter password"
      formControlName="password"
    ></ion-input>
    
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      <span class="error-message" *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</span>
      <span class="error-message" *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</span>
      <span class="error-message" *ngIf="registerForm.get('password')?.errors?.['pattern']">Password must contain characters(- _ ! $).</span>
    </div>
    <ion-button
    color="custom"
      class="ion-padding ion-xxl"
      expand="full"
      type="submit"
      (click)="signup()"
      >
      Register
    </ion-button>
  </form>
  <p>Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</ion-content>
