<ion-content [fullscreen]="true" class="padding">
  <ion-img src="../../../assets/images/logo.png"></ion-img>
  <ion-title class="ion-text-center">Lesotho Wetlands</ion-title>
  <p class="slogan">Manage Your Wetlands Effortlessly</p>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button 
          fill="outline" 
          class="custom-color-button"
          routerLink="/login">
          Login
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button 
          color="custom" 
          routerLink="/register-user">
          Register
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>