ion-content {
    --background:#bfb9a9;
}
ion-img{
    display: block;
    height: 250px;
    width: 200px;
    margin: 20px auto;
   
}
ion-title {
    margin-top: 10px;
    color: #333;
}

ion-grid {
    display: flex;
    justify-content: center;
    margin-top: 15px auto;
}
.custom-color-button {
    color: #227f43;
    border-color: #227f43;
  }
.primaryColor {
    --background: var(--ion-color-btn);
    color: white;
  }

.slogan {
    color: #333;
    text-align: center;
    margin-top: 10x;
}
