ion-content {
    --background: #ebebeb;
}

ion-img {
    display: block;
    height: 250px;
    width: 200px;
    margin: 20px auto;
}

ion-title {
    margin-top: 10px;
    color: #227f43;
}

ion-grid {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.custom-color-button {
    --border-color: #227f43;
    --color: #227f43;
    --ion-color-custom: #227f43;
}

.slogan {
    color: #333;
    text-align: center;
    margin-top: 10px;
}