<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>All Feedbacks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-icon  class="back" name="arrow-back" routerLink="/admin-dashboard"></ion-icon>

  <div *ngIf="feedback.length > 0; else noFeedback">
    <ion-card *ngFor="let userFeedback of feedback">
      <ion-card-header>
        <ion-card-title>{{userFeedback.name}}</ion-card-title>
        <ion-card-subtitle>{{userFeedback.email}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Feedback Type: {{userFeedback.feedBackType}}</p>
        <p>Message: {{userFeedback.message}} </p>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noFeedback>
    <p style="color: brown">No feedback available</p>
  </ng-template>


</ion-content>
