ion-content {
    --background: #ebebeb;
}
ion-toolbar {
    --background: transparent;
    --border-width: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    text-align: center;
    color: #333;
  }

ion-card {
    background: #f7f7f7;
}
ion-card-content {
    color: #333;
}

h4 {
    color: #227f43;
}
