ion-content {
    --background: #ebebeb;
}
ion-toolbar {
    --background: transparent;
    --border-width: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    color: #333;
}
ion-list {
  background-color:#ebebeb;
}
ion-item {
  --background: #ebebeb;
  color: black;
}
ion-item ion-icon {
  color: black;
}

 ion-item .back {
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    background-color: #227f43;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
  }

  ion-card{
    --background: #f7f7f7;
    border-radius: 8px;
    border: 1px solid #227f43;
  }
  ion-card ion-item {
    --background: #f7f7f7;
    color: black;
  }
.user-profile ion-card {
    border-radius: 15px;
    background-color: #f7f7f7;
    border: 1px solid #227f43;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-avatar {
    display: block;
    border: 2px solid #227f43;
    margin: 10px auto;
}

.profile-icon {
    height: 54px;

    width: 48px;
}

.top-margin {
  margin-top: 10px;
}